body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

#map {
  height: 65vh;
  width: 65vw;
  margin: auto;
}

#info {
  padding: 20px;
}

#status {
  margin-top: 10px;
  font-weight: bold;
}

#debugField {
  color: red;
  font-size: 0.9em;
  display: none;
}
